openapi: 3.1.0
info:
  title: Jifelog Platform API
  description: |
    지플로그(Jifelog) 플랫폼 API 문서입니다.

    ## 인증
    인증이 필요한 API는 `X-Jifelog-JWT` 요청 헤더에 JWT 토큰을 직접 전달합니다.
    (`Authorization: Bearer` 헤더를 사용하지 않습니다.)

    ## 버전 관리
    API 경로의 `{version}` 세그먼트로 버전을 지정합니다.
    현재 지원 버전: `v1`, `v2` (기본값: `v1`)

    ## 에러 코드 규칙
    `E[Category]_[Domain]_[Seq]` 형식을 따릅니다.
    - Category: B=400, U=401, F=403, N=404, C=409, S=500
    - Domain: 00=공통, 01=계정, 02=일기, 03=스토리지
  version: 1.0.0
  contact:
    name: Jifelog Team

servers:
  - url: https://api.jifelog.com
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Account
    description: 계정 관리 API
  - name: Diary
    description: 일기 관리 API
  - name: DiaryPhoto
    description: 일기 사진 업로드 API

paths:
  /api/{version}/accounts:
    post:
      operationId: createAccount
      summary: 계정 생성
      description: |
        새로운 계정을 생성합니다.

        - 인증이 필요하지 않은 공개 엔드포인트입니다.
        - 이미 사용 중인 닉네임인 경우 409 Conflict 에러가 발생합니다.
        - 작성 성공 시 `Location` 헤더에 생성된 계정의 경로가 포함됩니다.
      tags: [Account]
      security: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
            examples:
              basic:
                summary: 기본 계정 생성
                value:
                  nickname: "지플로거"
                  profile_img: ""
      responses:
        "201":
          description: 계정 생성 성공
          headers:
            Location:
              description: 생성된 계정 리소스 경로
              schema:
                type: string
                example: /api/v1/accounts/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountResponse'
        "400":
          description: 잘못된 요청 (유효성 검증 실패 또는 요청 본문 파싱 오류)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                validation_error:
                  summary: 유효성 검증 실패
                  value:
                    data:
                      error_code: EB_00_001
                      message: "요청 값이 올바르지 않습니다."
                      details:
                        - field: "nickname"
                          message: "nickname must be 1..50 characters"
                malformed_request:
                  summary: 요청 본문 파싱 오류
                  value:
                    data:
                      error_code: EB_00_002
                      message: "요청을 읽을 수 없습니다."
                      details: null
        "409":
          description: 이미 사용 중인 닉네임
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: EC_01_001
                  message: "이미 사용 중인 닉네임입니다."
                  details: null
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

  /api/{version}/accounts/me:
    get:
      operationId: getAccountMe
      summary: 내 계정 조회
      description: |
        인증된 사용자 본인의 계정 정보를 조회합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 인증된 사용자의 계정이 존재하지 않으면 404 Not Found 에러가 발생합니다.
      tags: [Account]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        "200":
          description: 계정 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMeResponse'
        "404":
          description: 인증된 사용자의 계정을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: EN_01_001
                  message: "존재하지 않는 계정입니다."
                  details: null
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

  /api/{version}/diaries:
    post:
      operationId: createDiary
      summary: 일기 작성
      description: |
        새로운 일기를 작성합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 같은 날짜(`entry_date`)에 이미 일기가 존재하면 409 Conflict 에러가 발생합니다.
        - 작성 성공 시 `Location` 헤더에 생성된 일기의 경로가 포함됩니다.
      tags: [Diary]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDiaryRequest'
            examples:
              happy_sunny_day:
                summary: 맑고 행복한 날
                value:
                  entry_date: "2026-06-13"
                  mood: HAPPY
                  weather: SUNNY
                  energy_level: 4
                  satisfaction_level: 5
                  keywords:
                    - 산책
                    - 독서
                  achievement:
                    - 프로젝트 완료
                    - 아침 운동
                  regret:
                    - 운동을 못함
                  content: "오늘은 정말 좋은 하루였다."
                  object_keys:
                    - "diary/550e8400-e29b-41d4-a716-446655440000/2026-06-13/123e4567-e89b-12d3-a456-426614174000.jpg"
              tired_rainy_day:
                summary: 비오고 피곤한 날
                value:
                  entry_date: "2026-06-12"
                  mood: TIRED
                  weather: RAIN
                  energy_level: 2
                  satisfaction_level: 2
                  keywords:
                    - 휴식
                  achievement: []
                  regret:
                    - 너무 많이 잤다
                  content: "비가 와서 하루 종일 집에 있었다."
                  object_keys: []
      responses:
        "201":
          description: 일기 작성 성공
          headers:
            Location:
              description: 생성된 일기 리소스 경로
              schema:
                type: string
                example: /api/v1/diaries/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDiaryResponse'
        "400":
          description: 잘못된 요청 (유효성 검증 실패 또는 요청 본문 파싱 오류)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                validation_error:
                  summary: 유효성 검증 실패
                  value:
                    data:
                      error_code: EB_00_001
                      message: "요청 값이 올바르지 않습니다."
                      details:
                        - field: "content"
                          message: "must not be blank"
                        - field: "energy_level"
                          message: "must be between 1 and 5"
                malformed_request:
                  summary: 요청 본문 파싱 오류
                  value:
                    data:
                      error_code: EB_00_002
                      message: "요청을 읽을 수 없습니다."
                      details: null
        "409":
          description: 해당 날짜에 이미 작성된 일기가 존재함
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: EC_02_001
                  message: "이미 작성된 일기가 존재합니다."
                  details: null
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

    get:
      operationId: listDiaries
      summary: 일기 목록 조회
      description: |
        로그인한 사용자가 등록한 일기 목록을 조회합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 최신순(`entry_date` 내림차순)으로 정렬되어 반환됩니다.
        - 페이징 처리 및 필터링은 지원하지 않습니다.
        - 첨부 이미지 링크(`image_url`)는 MinIO presigned GET URL 입니다 (만료: 서버 설정 `minio.presigned-url-expiry-minutes`, 기본 15분).
        - 첨부 미디어가 없는 일기는 `image_url` 이 `null` 입니다.
      tags: [Diary]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        "200":
          description: 일기 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiaryListItemResponse'
              examples:
                multiple:
                  summary: 여러 일기
                  value:
                    - id: "550e8400-e29b-41d4-a716-446655440000"
                      date: "2026-08-15"
                      mood: HAPPY
                      weather: SUNNY
                      satisfaction: 4
                      keywords:
                        - 산책
                        - 독서
                      content: "오늘은 한강 nearby 공원을 산책했다. 날씨가 좋아서 기분이 매우 좋았다."
                      image_url: "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/abc123.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."
                    - id: "660e8400-e29b-41d4-a716-446655440001"
                      date: "2026-08-14"
                      mood: TIRED
                      weather: RAIN
                      satisfaction: 2
                      keywords:
                        - 휴식
                      content: "비가 와서 집에서 쉬었다."
                      image_url: null
                empty:
                  summary: 빈 목록
                  value: []
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

  /api/{version}/diaries/{id}:
    get:
      operationId: getDiary
      summary: 일기 상세 조회
      description: |
        지정한 ID의 일기를 상세 조회합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 본인이 작성한 일기만 조회할 수 있습니다.
        - 존재하지 않는 일기 ID이거나 다른 사용자의 일기인 경우 404 Not Found 에러가 발생합니다.
        - 응답 본문은 도메인 모델과 동일한 필드를 노출하는 응답 전용 DTO(`DiaryDetailResponse`)입니다.
        - 첨부 이미지 링크(`image_urls`)는 MinIO presigned GET URL 배열이며(`sort_order ASC` 순서), 만료: 서버 설정 `minio.presigned-url-expiry-minutes`, 기본 15분. 첨부 미디어가 없는 일기는 빈 배열 `[]` 입니다.
      tags: [Diary]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/DiaryId'
      responses:
        "200":
          description: 일기 상세 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryDetailResponse'
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                user_info_id: "11111111-1111-1111-1111-111111111111"
                entry_date: "2026-08-15"
                mood: HAPPY
                weather: SUNNY
                energy_level: 4
                satisfaction_level: 5
                keywords:
                  - 산책
                  - 독서
                achievement:
                  - 프로젝트 완료
                  - 아침 운동
                regret:
                  - 운동을 못함
                content: "오늘은 정말 좋은 하루였다."
                image_urls:
                  - "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/abc123.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."
                  - "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/def456.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."
                created_at: "2026-08-15T10:30:00Z"
                updated_at: "2026-08-15T10:30:00Z"
        "404":
          description: 일기를 찾을 수 없음 (존재하지 않는 ID 또는 다른 사용자의 일기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: EN_02_001
                  message: "존재하지 않는 일기입니다."
                  details: null
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

    delete:
      operationId: deleteDiary
      summary: 일기 삭제
      description: |
        지정한 ID의 일기를 삭제합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 본인이 작성한 일기만 삭제할 수 있습니다.
        - 존재하지 않는 일기 ID이거나 다른 사용자의 일기인 경우 404 Not Found 에러가 발생합니다.
      tags: [Diary]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/DiaryId'
      responses:
        "204":
          description: 일기 삭제 성공 (응답 본문 없음)
        "404":
          description: 일기를 찾을 수 없음 (존재하지 않는 ID 또는 다른 사용자의 일기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: EN_02_001
                  message: "존재하지 않는 일기입니다."
                  details: null
        "500":
          description: 서버 내부 오류
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                data:
                  error_code: ES_00_001
                  message: "서버 오류가 발생했습니다."
                  details: null

  /api/{version}/diaries/photos/upload-urls:
    post:
      operationId: generateDiaryPhotoUploadUrl
      summary: 일기 사진 업로드 URL 생성
      description: |
        일기 사진 업로드를 위한 Presigned URL을 생성합니다.

        - `X-Jifelog-JWT` 헤더로 인증이 필요합니다.
        - 허용 콘텐츠 타입: `image/jpeg`, `image/png`, `image/webp`, `image/gif`
        - 지원하지 않는 콘텐츠 타입인 경우 400 Bad Request 에러가 발생합니다.
        - 응답의 `upload_url`은 만료 시간이 존재하며, `expires_at` 이전에 업로드해야 합니다.
      tags: [DiaryPhoto]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUploadUrlRequest'
            examples:
              jpeg_upload:
                summary: JPEG 사진 업로드
                value:
                  file_name: "morning_walk.jpg"
                  content_type: "image/jpeg"
                  entry_date: "2026-06-13"
      responses:
        "200":
          description: 업로드 URL 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUploadUrlResponse'
        "400":
          description: |
            잘못된 요청.
            - 유효성 검증 실패 (`EB_00_001`)
            - 요청 본문 파싱 오류 (`EB_00_002`)
            - 지원하지 않는 콘텐츠 타입 (`EB_02_002`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                validation_error:
                  summary: 유효성 검증 실패
                  value:
                    data:
                      error_code: EB_00_001
                      message: "요청 값이 올바르지 않습니다."
                      details:
                        - field: "file_name"
                          message: "must not be blank"
                malformed_request:
                  summary: 요청 본문 파싱 오류
                  value:
                    data:
                      error_code: EB_00_002
                      message: "요청을 읽을 수 없습니다."
                      details: null
                unsupported_content_type:
                  summary: 지원하지 않는 콘텐츠 타입
                  value:
                    data:
                      error_code: EB_02_002
                      message: "지원하지 않는 콘텐츠 타입입니다. 허용: image/jpeg, image/png, image/webp, image/gif"
                      details: null
        "500":
          description: |
            서버 내부 오류.
            - 공통 서버 오류 (`ES_00_001`)
            - 스토리지 업로드 URL 생성 실패 (`ES_03_001`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                internal_error:
                  summary: 서버 내부 오류
                  value:
                    data:
                      error_code: ES_00_001
                      message: "서버 오류가 발생했습니다."
                      details: null
                storage_error:
                  summary: 업로드 URL 생성 실패
                  value:
                    data:
                      error_code: ES_03_001
                      message: "이미지 업로드 URL 생성에 실패했습니다."
                      details: null

components:
  securitySchemes:
    JifelogJwtAuth:
      type: apiKey
      in: header
      name: X-Jifelog-JWT
      description: |
        Jifelog JWT 토큰.
        `X-Jifelog-JWT: <token>` 형식으로 요청 헤더에 직접 전달합니다.

  parameters:
    ApiVersion:
      name: version
      in: path
      required: true
      description: |
        API 버전 세그먼트입니다.
        - `v1`: 현재 안정 버전
        - `v2`: 지원 예정
      schema:
        type: string
        enum: [v1, v2]
        default: v1
      examples:
        v1:
          value: v1
          summary: 버전 1 (현재 안정 버전)

    DiaryId:
      name: id
      in: path
      required: true
      description: 일기 고유 식별자 (UUID)
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440000"

  schemas:
    CreateAccountRequest:
      type: object
      description: 계정 생성 요청 본문
      required:
        - nickname
      properties:
        nickname:
          type: string
          description: 닉네임 (1~50자, 고유해야 함)
          minLength: 1
          maxLength: 50
          example: "지플로거"
        profile_img:
          type: string
          description: 프로필 이미지 URL (선택, 기본값 빈 문자열)
          default: ""
          example: ""

    CreateAccountResponse:
      type: object
      description: 계정 생성 성공 응답
      properties:
        id:
          type: string
          format: uuid
          description: 생성된 계정의 고유 식별자
          example: "550e8400-e29b-41d4-a716-446655440000"

    AccountMeResponse:
      type: object
      description: 내 계정 조회 응답
      properties:
        id:
          type: string
          format: uuid
          description: 계정 고유 식별자
          example: "550e8400-e29b-41d4-a716-446655440000"
        nickname:
          type: string
          description: 닉네임
          example: "지플로거"
        username:
          type: string
          description: 사용자명 (로그인 식별자)
          example: "jifelogger"
        profile_img:
          type: string
          description: 프로필 이미지 URL
          example: ""

    CreateDiaryRequest:
      type: object
      description: 일기 작성 요청 본문
      required:
        - entry_date
        - mood
        - weather
        - energy_level
        - satisfaction_level
        - content
      properties:
        entry_date:
          type: string
          format: date
          description: 일기 날짜 (같은 날짜에 중복 작성 불가)
          example: "2026-06-13"
        mood:
          $ref: '#/components/schemas/Mood'
        weather:
          $ref: '#/components/schemas/Weather'
        energy_level:
          type: integer
          format: int16
          description: 에너지 레벨 (1~5)
          minimum: 1
          maximum: 5
          example: 4
        satisfaction_level:
          type: integer
          format: int16
          description: 만족도 레벨 (1~5)
          minimum: 1
          maximum: 5
          example: 5
        keywords:
          type: array
          description: |
            오늘을 나타내는 키워드 목록
            - 최대 10개까지 등록 가능
            - 각 키워드는 최대 50자
          items:
            type: string
            maxLength: 50
          maxItems: 10
          default: []
          example:
            - 산책
            - 독서
            - 코딩
        achievement:
          type: array
          description: |
            오늘 한 잘한일 목록
            - 최대 3개까지 등록 가능
            - 각 항목은 최대 100자
          items:
            type: string
            maxLength: 100
          maxItems: 3
          default: []
          example:
            - 프로젝트 완료
            - 아침 운동
        regret:
          type: array
          description: |
            오늘의 아쉬운일 목록
            - 최대 3개까지 등록 가능
            - 각 항목은 최대 100자
          items:
            type: string
            maxLength: 100
          maxItems: 3
          default: []
          example:
            - 운동을 못함
            - 늦잠
        content:
          type: string
          description: 일기 본문 내용
          minLength: 1
          example: "오늘은 정말 좋은 하루였다."
        object_keys:
          type: array
          description: |
            일기에 첨부할 사진의 스토리지 객체 키 목록.
            `/api/v1/diaries/photos/upload-urls`로 발급받은 업로드 URL의 `object_key`를 사용합니다.
            - 최대 10개까지 등록 가능
            - 각 객체 키는 최대 512자
          items:
            type: string
            maxLength: 512
          maxItems: 10
          default: []
          example:
            - "diary/550e8400-e29b-41d4-a716-446655440000/2026-06-13/123e4567-e89b-12d3-a456-426614174000.jpg"

    CreateDiaryResponse:
      type: object
      description: 일기 작성 성공 응답
      properties:
        id:
          type: string
          format: uuid
          description: 생성된 일기의 고유 식별자
          example: "550e8400-e29b-41d4-a716-446655440000"

    DiaryListItemResponse:
      type: object
      description: 일기 목록 조회 응답 항목
      properties:
        id:
          type: string
          format: uuid
          description: 일기 식별자
          example: "550e8400-e29b-41d4-a716-446655440000"
        date:
          type: string
          format: date
          description: 일기 날짜
          example: "2026-08-15"
        mood:
          type: string
          description: 기분
          enum: [HAPPY, EXCITED, NEUTRAL, SAD, ANGRY, ANXIOUS, TIRED]
          example: HAPPY
        weather:
          type: string
          description: 날씨
          enum: [SUNNY, CLOUDY, RAIN, SNOW, HAIL, TYPHOON]
          example: SUNNY
        satisfaction:
          type: integer
          description: 만족도 (1~5)
          minimum: 1
          maximum: 5
          example: 4
        keywords:
          type: array
          description: 키워드
          items:
            type: string
            maxLength: 50
          maxItems: 10
          example:
            - 산책
            - 독서
        content:
          type: string
          description: 일기 본문
          example: "오늘은 한강 nearby 공원을 산책했다. 날씨가 좋아서 기분이 매우 좋았다."
        image_url:
          type: string
          format: uri
          nullable: true
          description: |
            첨부 이미지 미리보기 링크.
            MinIO 에 대해 발급된 presigned GET URL 이며, 만료 시간은 서버 설정 `minio.presigned-url-expiry-minutes` (기본 15분) 입니다.
            첨부 미디어가 없는 일기는 `null` 입니다.
          example: "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/abc123.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."

    DiaryDetailResponse:
      type: object
      description: |
        일기 상세 조회 응답.
        도메인 모델(`Diary`)과 동일한 필드를 노출하되, 응답 전용 DTO로 분리하여
        도메인 변경 없이 응답 스펙을 자유롭게 확장할 수 있도록 한다.
      required:
        - id
        - user_info_id
        - entry_date
        - mood
        - weather
        - energy_level
        - satisfaction_level
        - keywords
        - achievement
        - regret
        - content
        - created_at
        - updated_at
        - image_urls
      properties:
        id:
          type: string
          format: uuid
          description: 일기 식별자
          example: "550e8400-e29b-41d4-a716-446655440000"
        user_info_id:
          type: string
          format: uuid
          description: 작성자(사용자) 식별자
          example: "11111111-1111-1111-1111-111111111111"
        entry_date:
          type: string
          format: date
          description: 일기 날짜
          example: "2026-08-15"
        mood:
          $ref: '#/components/schemas/Mood'
        weather:
          $ref: '#/components/schemas/Weather'
        energy_level:
          type: integer
          description: 에너지 레벨 (1~5)
          minimum: 1
          maximum: 5
          example: 4
        satisfaction_level:
          type: integer
          description: 만족도 (1~5)
          minimum: 1
          maximum: 5
          example: 5
        keywords:
          type: array
          description: 키워드 목록
          items:
            type: string
            maxLength: 50
          maxItems: 10
          example:
            - 산책
            - 독서
        achievement:
          type: array
          description: 오늘의 성취 목록
          items:
            type: string
            maxLength: 100
          maxItems: 10
          example:
            - 프로젝트 완료
            - 아침 운동
        regret:
          type: array
          description: 오늘의 아쉬움 목록
          items:
            type: string
            maxLength: 100
          maxItems: 10
          example:
            - 운동을 못함
        content:
          type: string
          description: 일기 본문
          example: "오늘은 정말 좋은 하루였다."
        image_urls:
          type: array
          description: |
            첨부 이미지 미리보기 링크 목록 (`sort_order ASC` 순서).
            각 원소는 MinIO 에 대해 발급된 presigned GET URL 이며, 만료 시간은 서버 설정 `minio.presigned-url-expiry-minutes` (기본 15분) 입니다.
            첨부 미디어가 없는 일기는 빈 배열 `[]` 입니다.
          items:
            type: string
            format: uri
          example:
            - "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/abc123.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."
            - "https://minio.jifelog.com:9000/diary-media/550e8400-e29b-41d4-a716-446655440000/2026-08-15/def456.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=..."
        created_at:
          type: string
          format: date-time
          description: 일기 생성 시각 (UTC)
          example: "2026-08-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: 일기 수정 시각 (UTC)
          example: "2026-08-15T10:30:00Z"

    GenerateUploadUrlRequest:
      type: object
      description: 일기 사진 업로드 URL 생성 요청 본문
      required:
        - file_name
        - content_type
        - entry_date
      properties:
        file_name:
          type: string
          description: 업로드할 파일명
          minLength: 1
          example: "morning_walk.jpg"
        content_type:
          type: string
          description: |
            콘텐츠 타입 (MIME).
            허용 값: `image/jpeg`, `image/png`, `image/webp`, `image/gif`
          minLength: 1
          example: "image/jpeg"
        entry_date:
          type: string
          format: date
          description: 일기 날짜 (객체 키 경로에 사용됨)
          example: "2026-06-13"

    GenerateUploadUrlResponse:
      type: object
      description: 일기 사진 업로드 URL 생성 응답
      required:
        - upload_url
        - expires_at
        - form_data
        - max_file_size_bytes
      properties:
        upload_url:
          type: string
          format: uri
          description: 클라이언트가 직접 업로드할 Presigned URL
          example: "https://storage.jifelog.com/diary/550e8400-e29b-41d4-a716-446655440000/2026-06-13/123e4567-e89b-12d3-a456-426614174000.jpg?X-Amz-..."
        expires_at:
          type: string
          format: date-time
          description: 업로드 URL 만료 시각 (UTC)
          example: "2026-06-13T10:00:00Z"
        form_data:
          type: object
          description: |
            업로드 시 함께 전송해야 하는 폼 필드.
            POST 기반 Presigned 업로드 정책에 필요한 입력값입니다.
          additionalProperties:
            type: string
          example:
            key: "diary/550e8400-e29b-41d4-a716-446655440000/2026-06-13/123e4567-e89b-12d3-a456-426614174000.jpg"
            policy: "eyJleHBpcmF0aW9uIjo..."
            x-amz-algorithm: "AWS4-HMAC-SHA256"
            x-amz-credential: "..."
            x-amz-date: "20260613T090000Z"
            x-amz-signature: "..."
        max_file_size_bytes:
          type: integer
          format: int64
          description: 업로드 가능한 최대 파일 크기 (바이트)
          example: 10485760

    Mood:
      type: string
      description: 오늘의 기분
      enum:
        - HAPPY
        - EXCITED
        - NEUTRAL
        - SAD
        - ANGRY
        - ANXIOUS
        - TIRED
      x-enum-descriptions:
        HAPPY: 행복
        EXCITED: 신남
        NEUTRAL: 보통
        SAD: 슬픔
        ANGRY: 화남
        ANXIOUS: 불안
        TIRED: 피곤

    Weather:
      type: string
      description: 오늘의 날씨
      enum:
        - SUNNY
        - CLOUDY
        - RAIN
        - SNOW
        - HAIL
        - TYPHOON
      x-enum-descriptions:
        SUNNY: 맑음
        CLOUDY: 흐림
        RAIN: 비
        SNOW: 눈
        HAIL: 우박
        TYPHOON: 태풍

    ApiErrorResponse:
      type: object
      description: API 에러 공통 응답 형식
      properties:
        data:
          $ref: '#/components/schemas/ErrorBody'

    ErrorBody:
      type: object
      description: 에러 상세 정보
      properties:
        error_code:
          type: string
          description: |
            에러 코드 (`E[Category]_[Domain]_[Seq]` 형식)

            | 코드 | HTTP 상태 | 설명 |
            |------|----------|------|
            | EB_00_001 | 400 | 요청 값이 올바르지 않음 (유효성 검증 실패) |
            | EB_00_002 | 400 | 요청 본문을 읽을 수 없음 (파싱 오류) |
            | EB_02_002 | 400 | 지원하지 않는 콘텐츠 타입 (일기 사진) |
            | EN_01_001 | 404 | 존재하지 않는 계정 |
            | EN_02_001 | 404 | 존재하지 않는 일기 |
            | EC_01_001 | 409 | 이미 사용 중인 닉네임 |
            | EC_02_001 | 409 | 이미 작성된 일기가 존재함 |
            | ES_00_001 | 500 | 서버 내부 오류 |
            | ES_03_001 | 500 | 이미지 업로드 URL 생성 실패 (스토리지) |
          example: EN_02_001
        message:
          type: string
          description: 에러 메시지
          example: "존재하지 않는 일기입니다."
        details:
          description: |
            에러 상세 정보 목록 (유효성 검증 실패 시 필드별 오류 제공, 그 외에는 null)
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          example: null

    ValidationErrorDetail:
      type: object
      description: 유효성 검증 오류 상세 정보
      properties:
        field:
          type: string
          description: 유효성 검증에 실패한 필드명
          example: "content"
        message:
          type: string
          description: 유효성 검증 실패 메시지
          example: "must not be blank"